html {
	scroll-behavior: smooth;
}

main {
	min-height: calc(100vh - 48px);
}
  
/*
* Sidebar
*/
  
.sidebar {
	max-height: 200px;
}
  
@media all and (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		z-index: 100; /* Behind the navbar */
		max-height: none;
		padding: 48px 0; /* Height of navbar */
		box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);		
	}
}
    
  .sidebar .nav-link {
	font-weight: 500;
	color: #333;
	line-height: 1.4;
	padding: .5rem .75rem;
  }

  
  .sidebar .nav-link.active {
	color: var(--bs-primary);
  }
  
.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}
  
/*
* Navbar
*/
  
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar {
	.navbar-toggler {
		top: .25rem;
		right: 1rem;
	}
	.form-control {
		padding: .75rem 1rem;
		border-width: 0;
		border-radius: 0;
	}
}
  
.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
	&:focus {
		border-color: transparent;
		box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
	}
}
  