// Notes on the classes:
//
// 1. .carousel.pointer-event should ideally be pan-y (to allow for users to scroll vertically)
//    even when their scroll action started on a carousel, but for compatibility (with Firefox)
//    we're preventing all actions instead
// 2. The .carousel-item-left and .carousel-item-right is used to indicate where
//    the active slide is heading.
// 3. .active.carousel-item is the current slide.
// 4. .active.carousel-item-left and .active.carousel-item-right is the current
//    slide in its in-transition state. Only one of these occurs at a time.
// 5. .carousel-item-next.carousel-item-left and .carousel-item-prev.carousel-item-right
//    is the upcoming slide in transition.

.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  @include clearfix();
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  max-height: 520px;
  margin-right: -100%;
  backface-visibility: hidden;
  @include transition($carousel-transition);
  img {
    width: 100%;
    height: 100%;
    max-height: 520px;
    object-fit: cover;
  }
}

aside {
  .carousel-item {
    max-height: 300px;
    img {
      max-height: 300px;
    }
  }
  .carousel-gallery .carousel {
      height: 300px;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}


//
// Alternate transitions
//

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transform: none;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    @include transition(opacity 0s $carousel-transition-duration);
  }
}


//
// Left/right controls for nav
//

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  // Use flex for alignment (1-3)
  display: flex; // 1. allow flex styles
  align-items: center; // 2. vertically center contents
  justify-content: center; // 3. horizontally center contents
  width: $carousel-control-width;
  color: $carousel-control-color;
  background: rgba(0,0,0,.2);
  text-align: center;
  opacity: $carousel-control-opacity;
  @include transition($carousel-control-transition);

  // Hover/focus state
  &:hover,
  &:focus {
    color: $carousel-control-color;
    text-decoration: none;
    outline: 0;
    opacity: $carousel-control-hover-opacity;
  }
}
.carousel-control-prev {
  left: 0;
  background-image: if($enable-gradients, linear-gradient(90deg, rgba($black, .25), rgba($black, .001)), null);
}
.carousel-control-next {
  right: 0;
  background-image: if($enable-gradients, linear-gradient(270deg, rgba($black, .25), rgba($black, .001)), null);
}

// Icons for within
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: $carousel-control-icon-width;
  height: $carousel-control-icon-width;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.carousel-control-prev-icon {
  background-image: escape-svg($carousel-control-prev-icon-bg);
}
.carousel-control-next-icon {
  background-image: escape-svg($carousel-control-next-icon-bg);
}


// Optional indicator pips
//
// Add an ordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: -17px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  height: 34px;
  padding-left: 0; // override <ol> default
  // Use the .carousel-control's width as margin so we don't overlay those
  margin-right: $carousel-control-width;
  margin-left: $carousel-control-width;
  margin-bottom: 0;
  list-style: none;

  li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: $carousel-indicator-width;
    height: $carousel-indicator-height;
    margin-right: $carousel-indicator-spacer;
    margin-left: $carousel-indicator-spacer;
    text-indent: -999px;
    cursor: pointer;
    background-color: $black;
    background-clip: padding-box;
    // Use transparent borders to increase the hit area by 10px on top and bottom.
    border-radius: 50%;
    border-top: $carousel-indicator-hit-area-height solid transparent;
    border-bottom: $carousel-indicator-hit-area-height solid transparent;
    opacity: $carousel-indicator-opacity;
    @include transition($carousel-indicator-transition);
  }

  .active {
    transform: scale(1.3);
    background-color: $primary;
    opacity: $carousel-indicator-active-opacity;
  }
}


// Optional captions
//
//

.carousel-caption {
  position: absolute;
  right: (100% - $carousel-caption-width) / 2;
  bottom: $carousel-caption-spacer;
  left: (100% - $carousel-caption-width) / 2;
  padding-top: $carousel-caption-padding-y;
  padding-bottom: $carousel-caption-padding-y;
  color: $carousel-caption-color;
  text-align: center;
}

// Dark mode carousel

.carousel-dark {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: $carousel-dark-control-icon-filter;
  }

  .carousel-indicators li {
    background-color: $carousel-dark-indicator-active-bg;
  }

  .carousel-caption {
    color: $carousel-dark-caption-color;
  }
}

/* SMALL ALTERNATIVE */
.carousel-small {
  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    width: 60px;
    height: 60px;
  }
  .carousel-item,
  .carousel-item img {
    max-height: 280px;
  }
}

/* GALLERY */
.carousel-gallery {
  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    bottom: 0;
    height: 60px;
    background: 0;
  }
}

.carousel-gallery-position {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,.2);
}

.carousel-gallery-items-wrap {
  position: relative;
}

.carousel-gallery-items-after {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
}

.carousel-gallery {
  .carousel {
    height: 282px;
    margin-bottom: $spacer;
    overflow: hidden;
    .carousel-inner {
      height: 100%;
    }
    .carousel-item {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.carousel-gallery-items {
  position: relative;
  width: 100%;
  padding: 2px;
  margin-bottom: $spacer;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.carousel-gallery-item {
  margin-left: $spacer;
  &:first-child {
    margin-left: 0;
  }
  img {
    width: 150px;
    height: 100px;
    object-fit: cover;
  }
  &.is-active {
    img {
      box-shadow: 0 0 2px 2px $primary;
    }
  }
}

.carousel-gallery-position {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: $font-family-sans-serif;
}

@include media-breakpoint-up(md) {

  .carousel-gallery {
    .carousel {
      height: 520px;
    }
  } 

}