footer {
	margin-top: $spacer * 3;
	font-size: $font-size-lg;
	font-family: $font-family-sans-serif;
	a {
		color: $black;
	}
	blockquote {
		a {
			color: $primary;
		}
	}
}
.footer-title {
	font-weight: $font-weight-bold;
}
.copy {
	font-family: $font-family-sans-serif;
}