.news {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: $spacer / 3 * 2 0;
	font-family: $font-family-sans-serif;
	&:hover {
		.news-img {
			img {
				box-shadow: 0 0 2px 2px $primary;
			}
		}
	}
}
.news-img {
	display: flex;
	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
	}
	figcaption {
		align-self: flex-end;
		padding: 0 $spacer / 3 * 2;
	}
}
.news-desc {
	flex: 1;
	> * {
		margin-bottom: 0;
	}
	h1, .h1 {
		color: $black;
		font-weight: $font-weight-light;
	}
	a {
		color: $black;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
	}
}

@include media-breakpoint-up(md) {

	.news {
		flex-direction: row;
		align-items: center;
	}
	.news-img {
		width: 150px;
		margin: 0;
	}
	.news-desc {
		padding: 0 $spacer;
	}

}