.offcanvas-wrap,
.submenus-wrap {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 8;
	width: 100%;
	height: 100vh;
	padding-top: $fixed-header-height-mobile;
	font-size: $font-size-sm;
	font-family: $font-family-sans-serif;
	background: rgba(255,255,255,0.95);
	overflow-y: auto;
	transition: all .4s ease;
	transform: translateY(-3000px);
	&.is-active {
		transform: translateY(0);
	}
	a {
		display: block;
		@extend .mb-1;
		color: $black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}
.offcanvas-inner {
	padding: $spacer;
	.container {
		overflow: visible;
	}
	.col {
		padding: 0 $spacer / 3 * 2;
	}
}
.off-collapse {
	padding-left: $spacer / 3;
}
.has-submenu {
	.has-submenu-collapser {
		margin: 0;
	}
	[data-bs-toggle="collapse"] {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: -1.6rem;
			top: .3rem;
			display: block;
			width: 1.4rem;
			height: 1rem;
			background-image: url('../../../images/Icon_Menu_Down.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 3.75rem;
			transform-origin: center;
			transition: all .2s ease;
		}
		&[aria-expanded="true"] {
			color: $primary;
			&:before {
				transform: rotateX(180deg);
			}
			& + a {
				color: $primary;
			}
		}
	}
}

.submenus-wrap {
	display: none;
}

.close-subnav {
	position: absolute;
	right: $spacer/2;
	top: $spacer*3/2;
}

@include media-breakpoint-up(md) {

	.offcanvas-wrap,
	.submenus-wrap {
		padding-top: $fixed-header-height-desktop;
	}
}

@include media-breakpoint-up(xl) {

	.submenus-wrap {
		display: none;
		padding-bottom: $spacer*2;
		transform: translateY(0);
		&.is-active {
			display: block;
		}
	}
	.offcanvas-heading {
		margin-bottom: $spacer;
		font-size: $h1-font-size;
		font-weight: 500;
		text-transform: uppercase;
	}
	.submenus {
		position: relative;
		ul {
			position: relative;
			min-width: 280px;
			width: 25%;
			padding: 0;
			margin: 0;
			list-style-type: none;
			li {
				display: block;
				padding: $spacer/4 $spacer $spacer/4 0;
				&:hover {
					> ul {
						display: block;	
					}
					> a {
						color: $primary;
					}
					& > a:not(:last-child) {
						background-image: url(../../../images/arr-right-green.svg);	
					}
				}
				& > a:not(:last-child) {
					background-image: url(../../../images/arr-right-black.svg);
					background-repeat: no-repeat;
					background-position: center right;
				}
			}
			ul {
				position: absolute;
				left: 100%;
				top: 0;
				display: none;
				height: 100%;
				padding-left: $spacer;
				border-left: 1px solid $dark;
			}
		}
		a {
			font-weight: 500;
			&:hover {
				text-decoration: none;
				color: $primary;
			}
		}
	}
	.submenu-box {
		display: none;
		margin-top: $spacer;
	}

}