.person {
	display: flex;
	flex-direction: column;
	padding: $spacer / 3 * 2 0;
	margin-bottom: $spacer;
	font-family: $font-family-sans-serif;
}
.person-img {
	width: 150px;
	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 50%;
	}
}
.person-bio {
	flex: 1;
	> * {
		margin-bottom: 0;
	}
	h1, .h1 {
		color: $black;
		font-weight: $font-weight-light;
	}
}
.person-contact {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-weight: 700;
}

@include media-breakpoint-up(md) {
	.person {
		flex-direction: row;
	}
	.person-bio {
		padding: 0 $spacer / 3 * 2;
	}
}