/*
*
*	INFO CART
*
*/
$infocart-height: 240px;

.infocart-wrap {
	min-height: $infocart-height;
	border-radius: $border-radius;
	overflow: hidden;
	a {
		display: block;
		margin-bottom: $grid-gutter-width/2;
		font-family: $font-family-sans-serif;
		color: $black;
		line-height: 1.2;
		&:hover {
			text-decoration: none;
		}
	}
}
.infocart-col {
	min-height: $infocart-height;
	overflow: auto;
}
.infocart-img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

@include media-breakpoint-up(md) {

	.infocart-col {
		h2 {
			font-size: $h2-font-size;
		}
	}

}

@include media-breakpoint-up(lg) {

	.infocart-lg-expand {
		margin-left: -4.5rem;
		margin-right: -4.5rem;
	}

}

@include media-breakpoint-up(xl) {

	.infocart-col {
		h2 {
			font-size: $h1-font-size;
		}
	}

}