.spu-calendar-wrap {
	padding: $spacer;
	font-family: $font-family-sans-serif;
}
.spu-calendar-header {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: $spacer/3*2;
}
.spu-month-btn {
	width: 30px;
	.cls-1 {
		transform: scale(2);
		fill: none;
		stroke: #c4c4c4;
		stroke-miterlimit: 10;
		stroke-width: 2px;
	}
	&:hover {
		.cls-1 {
			stroke: $primary;
		}
	}
}
.spu-month-current {
	flex: 1;
	text-align: center;
}
.spu-month-name {
	display: none;
	&.is-active {
		display: inline;
	}
}
.spu-day-names,
.spu-week {
	display: flex;
}
.spu-day-name,
.spu-day {
	flex: 1;
	display: flex;
	justify-content: center;
}
.spu-day {
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	min-height: 57px;
	padding: $spacer/3 $spacer/3 0;
	text-decoration: none;
	color: $black;
}
.spu-day-inactive {
	color: $secondary;
	cursor: not-allowed;
	&:hover {
		color: $secondary;
	}
}
.spu-event {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: $primary;
}
.spu-event-more {
	transform: scale(1.3);
}