.search-wrap {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 8;
	width: 100%;
	height: 100vh;
	padding-top: $fixed-header-height-mobile;
	padding-bottom: $spacer*2;
	background: rgba(255,255,255,0.95);
	overflow-y: auto;
	transition: all .4s ease;
	transform: translateY(-3000px);
	&.is-active {
		transform: translateY(0);
	}
}
.search-form {
	.hm-wrap {
		position: absolute;
		right: 0;
		top: $spacer/2;
	}
}
.search-results {
	margin-bottom: $spacer * 2;
}
.input-search {
	width: 100%;
	padding: .5rem 4rem .5rem 0;
	@extend .display-1;
	font-family: $font-family-sans-serif;
	font-weight: $font-weight-light;
	background: 0;
	border: 0;
	border-bottom: 2px solid $gray-400;
	border-radius: 0;
	&:focus {
		outline: none;
	}
}
.search-result {
	position: relative;
	padding-left: $spacer / 3 * 2;
	padding-top: .01rem;
	border-left: 2px solid $black;
	margin-bottom: $spacer;
	font-family: $font-family-sans-serif;
	&.search-result-t0 {
		border-left-color: $black;
		&:hover {
			border-left-color: $primary;
			color: $primary;
			.search-result-title {
				a {
					color: $primary;
				}
			}
		}
	}
	&.search-result-t1 {
		border-left-color: $primary;
		&:hover {
			.search-result-title {
				a {
					color: $primary;
				}
			}
		}
	}
	&.search-result-t2 {
		border-left-color: $orange;
		&:hover {
			.search-result-title {
				a {
					color: $orange;
				}
			}
		}
	}
	&.search-result-t3 {
		border-left-color: $orange;
		&:hover {
			.search-result-title {
				a {
					color: $orange;
				}
			}
		}
	}
	&.search-result-t3 {
		border-left-color: $red;
		&:hover {
			.search-result-title {
				a {
					color: $red;
				}
			}
		}
	}
	&.search-result-t4 {
		border-left-color: $purple;
		&:hover {
			.search-result-title {
				a {
					color: $purple;
				}
			}
		}
	}
}
.search-result-date {
	color: $gray-400;
}
.search-result-title {
	@extend .my-1;
	text-transform: uppercase;
	a {
		color: $black;
		text-decoration: none;
		font-weight: $font-weight-bold;
	}
}
.shortcuts-title {
	margin-bottom: $spacer / 3;
	text-transform: uppercase;
}
.shortcuts {
	a {
		font-family: $font-family-sans-serif;
		font-size: $font-size-lg;
		color: $black;
	}
}

@include media-breakpoint-up(md) {

	.search-wrap {
		padding-top: $fixed-header-height-desktop*1.1;
		.search-form {
			.hm-wrap {
				top: $spacer;
			}
		}
	}

}