/*
*
*	Custom top icon navigation bar
*
*/
$fixed-header-height-mobile: 70px;
$fixed-header-height-desktop: 130px;

body {
	padding-top: $fixed-header-height-mobile;
}
.header-wrap {
	@extend .position-fixed;
	@extend .top-0;
	@extend .left-0;
	z-index: 9;
	@extend .w-100;
	@extend .bg-white;
}
.topnav-wrap {
	display: flex;
	flex: 1;
	align-items: center;
}
.logo-wrap {
	@extend .d-flex;
}
.logo {
	@extend .d-flex;
	@extend .text-decoration-none;
	img {
		width: $fixed-header-height-mobile;
		height: 70px;
	}
}
.topnav {
	@extend .d-flex;
	flex: 1;
	@extend .h-100;
	@extend .font-sans-serif;
	.nav-item {
		position: relative;
		display: flex;
		flex: 1;
		@extend .justify-content-center;
		@extend .h-100;
		&:hover {
			.subnav {
				display: block;
			}
		}
	}
	.nav-link {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		height: 100%;
		padding: 0 $spacer / 3;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 1.1;
		color: $black;
		&:hover,
		&.is-hover {
			color: $primary;
		}
		&.highlight {
			color: $primary;
			&:hover {
				color: $green-300;
			}
		}
		&.active {
			position: relative;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				background: $primary;
			}
		}
		img {
			width: 40px;
		}
		span {
			display: none;
			width: 100%;
			height: 35px;
			text-align: center;
			overflow: hidden;
    		white-space: nowrap;
		}
	}
}
.subnav {
	position: absolute;
	top: 100%;
	left: -50%;
	display: none;
	width: 200%;
	padding: $grid-gutter-width;
	margin: 0;
	list-style-type: none;
	background: $white;
	li {
		margin-bottom: $spacer/2;
		line-height: $font-size-lg*1.2;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		color: $black;
		text-decoration: none;
		&:hover {
			color: $primary;
		}
	}
}
.lang {
	font-family: $font-family-sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: $dark;
	&:hover {
		color: $primary;
	}
}

@include media-breakpoint-up(sm) {

	.topnav-wrap {
		padding-left: $spacer;
	}
	.topnav {
		.nav-link {
			img {
				width: auto;
				height: 53px;
			}
		}
	}
}

@include media-breakpoint-up(md) {

	body {
		padding-top: $fixed-header-height-desktop;
	}

	.logo {
		img {
			width: $fixed-header-height-desktop;
			height: $fixed-header-height-desktop;
		}
	}

	.topnav {
		.nav-link {
			span {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
}

@include media-breakpoint-up(xxl) {

	.topnav-wrap {
		padding-left: 0;
	}

	.logo {
		padding-right: $spacer;
	}

}

/* HAMBURGER MENU */
.hm-wrap {
	align-self: center;
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	width: 35px;
	height: 22px;
	&.is-active {
		#hm-1 {
			transform: translateY(10px) rotateZ(45deg);
		}
		#hm-2 {
			transform: translateX(-30px);
			opacity: 0;
		}	
		#hm-3 {
			transform: translateY(-10px) rotateZ(-45deg);
		}	
	}
}
.hm-wrap-xxl {
	position: absolute;
	right: $spacer;
	top: $spacer * 2;
}
.hm {
	display: block;
	width: 100%;
	height: 2px;
	background: $black;
	transition: all .3s ease;
}