.social {
	width: 50px;
	height: 50px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transition: all .3s ease;
	svg {
		width: 100%;
		height: 100%;
	}
	& + .social {
		margin-left: $spacer/3;
	}
	.cls-1 {
		fill: $primary;
	}
	&:hover {
		background: $primary;
		.cls-1 {
			fill: $white;
		}
	}
}