.tags-wrap {
	padding-bottom: $spacer/3;
	max-width: 100%;
	white-space:nowrap;
	overflow-x: auto;
}
.tag {
	@extend .btn;
	padding: $grid-gutter-width/6 $grid-gutter-width/3;
	margin-left: $spacer/8;
	text-transform: uppercase;
	border-radius: 0;
	color: $white;
	font-size: $font-size-sm;
	font-weight: 400;
	font-family: $font-family-sans-serif;
	&:first-child {
		margin-left: 0;
	}
}

@include media-breakpoint-up(sm) {

	.tag {
		padding: $btn-padding-y $btn-padding-x;
		margin-left: $spacer/3;
		font-size: $btn-font-size;
	}

}