/*
*	Hero Landing Sections
*	on Home & Subpage
*/
$hero-min-height: 350px;

.hero-wrap {
	position: relative;
	min-height: $hero-min-height;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 4;
		width: 100%;
	}
	&:before {
		height: 100%;
		background: rgba(0,0,0,0.4);
	}
	&:after {
		height: 181px;
		background: url(../../../images/SPU_HeroGraphic_Resp.svg) no-repeat center top;
	}
}
.hero-img {
	width: 100%;
	height: 100%;
	min-height: $hero-min-height;
	object-fit: cover;
}
.hero-content {
	position: relative;
	z-index: 7;
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 100%;
}
.hero-scroll-down {
	position: absolute;
	bottom: $spacer;
	left: 50%;
	z-index: 10;
	img {
		margin-left: -50%;
	}
}
.hero-wrap-sub {
	height: 181px;
	min-height: 181px;
	.hero-img {
		min-height: 181px;
	}
}
.hero-wrap-404 {
	height: 180px;
	&:before,
	&:after {
		background: 0 !important;
	}
}
@include media-breakpoint-up(md) {

	.hero-wrap {
		display: flex;
		align-items: center;
		padding-top: 100px;
		padding-bottom: $spacer * 3;
		min-height: calc(100vh - #{$fixed-header-height-desktop});
		&:after {
			height: 300px;
			background: url(../../../images/SPU_HeroGraphic_Desktop.svg)no-repeat center top;
		}
	}
	.hero-wrap-sub {
		height: 300px;
		min-height: 300px;
		padding-top: 0;
		padding-bottom: 0;
		.hero-img {
			min-height: 300px;
		}
	}
	.hero-wrap-404 {
		height: 250px;
	}
	.hero-content {
		align-items: center;
	}

}