.glide-wrap {
	padding: 0 $spacer;
}

.glide__slide {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}
.glide__arrow {
	position: absolute;
	top: 50%;
	left: -$spacer*2;
	margin-top: -25px;
	background: 0;
	border: 0;
	border-radius: 0;
	&:focus {
		border: 0;
		outline: none;
		border-radius: inherit;
	}
}
.glide__arrow--right {
	left: auto;
	right: -$spacer*2;
}

/* sidebar */
.sidebar-glide {
	text-align: center;
	img {
		max-width: 200px;
		height: 100px;
		object-fit: contain;
	}
}
.sidebar-glide__item {
	display: block;
	width: 50%;
	float: left;
	padding: 0 $spacer/2;
	margin-bottom: $spacer;
}